<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2020 manager
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<configuration>

	<property resource="application.yaml"/>

	<springProperty name="spring.datasource.driverClassName" source="spring.datasource.driverClassName"/>
	<springProperty name="spring.datasource.url" source="spring.datasource.url"/>
	<springProperty name="spring.datasource.username" source="spring.datasource.username"/>
	<springProperty name="spring.datasource.password" source="spring.datasource.password"/>

	<property name="LOGS" value="./logs"/>

	<appender name="Console"
			  class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%black(%d{dd/MMM/yy HH:mm:ss:SSS}) %highlight(%-5level) [%blue(%t)] %yellow(%class{0}): %msg%n%throwable
			</Pattern>
		</layout>
	</appender>

	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/manager-master.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>${spring.datasource.driverClassName}</driverClass>
			<url>${spring.datasource.url}</url>
			<user>${spring.datasource.username}</user>
			<password>${spring.datasource.password}</password>
		</connectionSource>
	</appender>

	<root level="info">
		<appender-ref ref="RollingFile"/>
		<appender-ref ref="Console"/>
		<appender-ref ref="DB"/>
	</root>

	<logger name="pt.unl.fct.usmanagement.manager.master" level="trace" additivity="false">
		<appender-ref ref="RollingFile"/>
		<appender-ref ref="Console"/>
		<appender-ref ref="DB"/>
	</logger>

</configuration>