.container {
    margin: 10px;
}

.list {
    margin: 20.5px;

}

.item {
    background-color: #36393F;
    width: 100vw;
    padding: 3px 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.lastItem {
    background-color: #36393F;
    width: 100vw;
    padding: 3px 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.column {
    margin: 0 10px;
}

.headerItem {
    composes: item;
    padding-top: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.headerColumn {
    color: #039be5;
    text-transform: uppercase;
}

.timestampColumn {
    composes: headerColumn;
    margin: 0 68px 0 10px;
}

.levelColumn {
    composes: headerColumn;
    margin: 0 3px;
}

.infoColumn {
    composes: headerColumn;
    margin: 0 10px;
    color: #039be5;
}