<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: head"></head>

<body lang="en">	
  <header>
      <nav class="white" role="navigation" th:include="navbar :: nav"></nav>
  </header>	
  
  <main>
    <div class="container">
      <div class="section">
        <div class="row">          
          <h4>Microservices management</h4>
          <br/>
          <div>
            <img src="/images/Arquitetura2.png" alt="Arquitetura do componente" style="max-width: 100%;"/>            
          </div>
          <br/>
          <div id="react-content"></div>
        </div>
      </div>	  
    </div>
  </main>
  <script type="text/javascript" src="built/bundle.js"/>

  <footer class="page-footer teal" th:include="footer :: footer"></footer>
	
</body>
</html>