<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="headerreact :: head"></head>

<body lang="en">	
  <header>
      <nav class="white" role="navigation" th:include="navbar :: nav"></nav>
  </header>	
  
  <main>
    <div class="container">
      <div class="section">
        <div id="parent-row" class="row">
          <div class="custom-loader" id="loader-placeholder"></div>
          <div class="page-content">
              <div id="react-content">
                <div class="progress"><div class="indeterminate"></div></div>
              </div>
          </div>
        </div>
      </div>	  
    </div>
  </main>
  
  <script>     
    window.onscroll = function() {myFunction()};    
    var header = document.getElementById("loader-placeholder");
    var parent = $("#parent-row");
    var sticky = header.offsetTop;   
    function myFunction() {
      if (window.pageYOffset >= sticky) {
        $(header).addClass("sticky");
        $(header).width(parent.width());
      } else {
        $(header).removeClass("sticky");
        $(header).width("100%");
      }
    }
  </script>

  <script type="text/javascript" src="/built/bundle.js"/>
  <footer class="page-footer teal" th:include="footer :: footer"></footer>	
</body>
</html>