<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: head"></head>

<body lang="en">
  <header>
    <nav class="white" role="navigation" th:include="navbar :: nav"></nav>
  </header>

  <main>
    <div class="container">
      <div class="section">
        <div class="row">
          <h4>Launch new container</h4>
          <form id="form-service" action="/api/containers" method="POST">
            <div class="input-field col s12">
              <input type="text" name="hostname" id="hostname" autocomplete="off"></input>
              <label for="hostname">Hostname</label>
            </div>

            <div class="input-field col s12">
              <select name="service" id="service" onchange="onChangeServicesSelect();">
                <option value="" disabled="disabled" selected="selected">Choose service</option>
              </select>
              <label for="service">Service</label>
            </div>

            <div class="input-field col s12">
              <input type="text" name="internalPort" id="internalPort" autocomplete="off"></input>
              <label for="internalPort">Internal Port</label>
            </div>

            <div class="input-field col s12">
              <input type="text" name="externalPort" id="externalPort" autocomplete="off"></input>
              <label for="externalPort">External Port</label>
            </div>

            <div class="input-field col s12">
              <input type="text" name="eurekaHost" id="eurekaHost" autocomplete="off"></input>
              <label for="eurekaHost">Eureka Host</label>
            </div>

            <div class="input-field col s12">
              <input type="text" name="database" id="database" autocomplete="off"></input>
              <label for="database">Database</label>
            </div>

            <div id="loader-placeholder"></div>

            <button class="btn waves-effect waves-light" type="submit" name="action">
              Launch
              <i class="material-icons right">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        ajaxGet("/api/services", loadServicesSelect);
      });
      $("#form-service").on('submit', function (event) {
        formSubmitCommand(event, "form-service", onSuccessSubmitLaunchService);
      });
    </script>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Command result</h4>
        <div id="result"></div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Close</a>
      </div>
    </div>
    <script type="text/javascript">
      $('.modal').modal();
    </script>
  </main>

  <footer class="page-footer teal" th:include="footer :: footer"></footer>

</body>

</html>