<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: head"></head>

<body lang="en">	
  <header>
      <nav class="white" role="navigation" th:include="navbar :: nav"></nav>
  </header>	
  
  <main>
    <div class="container">
      <div class="section">
        <div class="row">          
          <h4>Services configs</h4>
          <div id ="loader-placeholder"></div>
          <div id="service-placeholder"></div>
        </div>
      </div>	  
    </div>
    </main>
    <script type="text/javascript">
      $(document).ready(function() {
        ajaxGet("/api/serviceConfigs", onSuccessGetServices);
      });
    </script>
  <footer class="page-footer teal" th:include="footer :: footer"></footer>
	
</body>
</html>