.tabContent {
    padding: 0 !important;
}

.scrollButton {
    position: relative;
    top: 48px;
    margin-top: -40px;
}

.leftScrollButton {
    left: -48px;
}

.rightScrollButton {
    left: 48px;
}