.error-container {
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-icon {
    color: red;
    font-size: 4rem;
}

.error-message {
    color: white;
    margin: 0 !important;
    padding: 25px;
}