.container {
    background-color: #36393F;
    margin: 50px 300px 0 300px;
    height: calc(100vh - 600px);
    display: flex;
    border: 1px solid black;
}

.optionsContainer {
    width: 225px;
    height: 100%;
}

.option {
    padding: 0 16px;
    height: 48px;
    list-style-type: none;
    line-height: 48px;
    color: white;
    user-select: none;
}

.optionSelected {
    padding: 0 16px;
    height: 48px;
    list-style-type: none;
    line-height: 48px;
    color: white;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.option:hover, .optionSelected:hover {
    cursor: pointer;
}

.settings {
    border-left: black 1px solid;
    position: relative;
    width: calc(100% - 225px);
}

.saveButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}