.invalidateField {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}

.validateField {
    border-bottom: 1px solid #4CAF50 !important;
    box-shadow: 0 1px 0 0 #4CAF50 !important;
}

.noValidationField {
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: inherit !important;
}