load_module "modules/ngx_http_geoip_module.so";
user nginx;
worker_processes auto;

error_log /dev/stdout info;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  geoip_country etc/nginx/geoip/country.dat;
  geoip_city etc/nginx/geoip/city.dat;
  
  access_log /dev/stdout;

  upstream myapp {
    least_conn;
    server ##SERVER1##;
  }

  server {
    listen 80;
    server_name ##SERVER_NAME##;

    include /etc/nginx/conf.d/*.conf;    
    
    location / {
      proxy_connect_timeout 100;
      proxy_read_timeout 100;      

      proxy_pass http://myapp;

      proxy_set_header XCONTINENTCODE $geoip_city_continent_code;
      proxy_set_header XCOUNTRYCODE $geoip_country_code;
      proxy_set_header XCITY $geoip_city;
    }

    location /_/nginx-load-balancer-api {
      proxy_connect_timeout 100;
      proxy_read_timeout 100;

      auth_basic "Restricted";
      auth_basic_user_file /etc/nginx/.htpasswd;           

      proxy_pass http://localhost:1906;
      
      proxy_set_header X-Forwarded-Host $host;
      proxy_set_header Authorization "";
      proxy_redirect off;
    }

  }
}
