.form {
    background: #36393F;
    padding: 0 10px;
    margin-top: 10px;
}

.fixed-action-btn {
    position: absolute;
    top: 60px;
    right: 23px;
}

.slide {
    transition: transform 0.275s ease-in-out;
}

.fixed-action-small-btn {
    position: absolute;
    top: 60px;
    right: 27px;
    margin-top: 20px;
    z-index: 997;
}